export TEAMS_KONTROL_LOG_LEVEL=INFO
export TEAMS_KONTROL_SHARED_SECRET=<BASE64 ENCODED SHARED SECRET FROM TEAMS>
export TEAMS_KONTROL_TLS_CERT=<TLS CERTIFICATE>
export TEAMS_KONTROL_TLS_KEY=<TLS KEY>
export TEAMS_KONTROL_PERMISSION_FILE=permissions.yml
export TEAMS_KONTROL_INSECURE_COMMANDS=[TRUE|FALSE]
